.content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f4f4f4;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 2px;
}

.btn-editar {
    background-color: #4CAF50;
    color: white;
    
}

.btn-editar:hover {
    background-color: #45a049;
}

.btn-excluir {
    background-color: #f44336;
    color: white;
}

.btn-excluir:hover {
    background-color: #e53935;
}

.btn-incluir {
    display: block;
    width: 90%;
    margin: 20px auto 20px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-incluir:hover {
    background-color: #0056b3;
}

table th,
td {
    text-align: center;
}